/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    max-height: 100vh;
}

/* Left */

.left{
    width: 50%;
    display: flex;
    background:linear-gradient(180deg,#ff00b8,#6b30ff);
    justify-content: center;
    align-items: center;
}

.left-content{
    width: 82%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Ảnh */
.image-box{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}
/* Login box */
.login-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.login-box p{
    width: 55%;
    color: white;
    font-size: 39px;
    font-weight: bold;
    line-height: 1.5;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.button:hover{
    transform: scale(1.05);
}

/* Brands */

.partner{
    color:white;
    text-align:center;
}

.partner span{
    font-size:14px;
    opacity:.8;
}

.brands{
    display:flex;
    justify-content:space-around;
    margin-top:25px;
}

.brands h2{

    font-size:35px;
}

/* Right */

.right{
    width: 50%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-content: center;
}

.right-content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.logo{
    width: 200px;
    margin: auto;
}

.form h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.form input{
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
}

.form input:focus{
    border-color: #7d5cff;
}

.password{
    position: relative;
}

.password input{
    width: 100%;
}

.password span{
    position: absolute;
    top: 50%;
    right: 20px;
    color: #7d5cff;
    font-weight: bold;
    cursor: pointer;
    transform:translateY(-50%);
    user-select: none;
}

.password span:hover{
    color:#5b35ff;
}

.forgotPass{
    display: inline;
    width: auto;
    text-decoration: none;
}

.forgotPass:hover{
    text-decoration: underline;
}

.signup{
    margin-top:10px;
    margin-bottom: 40px;
    height:60px;
    border:none;
    border-radius:10px;
    background:#7d5cff;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 10px 30px rgba(125,92,255,.4);
    transition:.3s;
}

.signup:hover{
    transform:translateY(-3px);
}